/* Account module */
#putio_user_information .row {
    margin-bottom: 0.5em;
}

#putio_user_information button {
    margin-top: 1.5em;
    margin-bottom: 3em;
}

#session_debug {
    margin-top: 2em;
}

/* Search module */
#search .bar {
    /* margin-top: 6em; */
}

#search .result {
    margin-top: 1em;
}

#search .title-info {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#search button {
    width: 100%;
}

#search .poster {
    height: 13em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

#search .poster-background {
    width: 100%;
    background-color: #F8F8F8;
    height: 13em;
}


/* Title module */
#title .poster {
    max-width: 100%;
    max-height:25em;
    margin-right:auto;
    margin-left:auto;
    display:block;
    margin-bottom:2em;
}

#title .play-movie {
    width: 8em;
}

/* Season module */
#season {
    margin-bottom: 3em;
}

#season .row {
    margin-left: 0.2em;
    margin-bottom: 0.5em;
    line-height: 2em;
}

#season .putio-file-link {
    line-height: 1em;
}

#season .number {
    font-size: 1.5em;
}

#season .duration {
    color: grey;
    font-size: 0.9em;
}

#season .get-season {
    margin-top: 1em;
}


/* Styles not specific to a module */
body {
    font-size: 15px !important;
}

*:focus {
    outline: none !important;
}

.page-header {
    margin: 25px 0 23px !important;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

.blink {
  color: #b53131;
  animation: fade 1500ms infinite;
  -webkit-animation: fade 1500ms infinite;
  -moz-animation: fade 1500ms infinite;
}

.navbar-default .navbar-brand {
    padding-top: 11px;
}

.tab-content {
    margin: 1em;
}

